{% extends "mailing/base.html" %}

{% block content %}
    <h2>Информация по клиенту</h2>
    <div class="container-fluid py-5">
        <h5 class="display-6 fw-bold">{{ object.email_contact }}</h5>
        <p class="col-md-8 fs-5">Полное имя: {{ object.full_name }}</p>
        <p class="col-md-8 fs-5">Комментарий: {{ object.comment }}</p>
        <div class="card-footer">
            <a href="{% url 'mailing:client_detail'  object.pk %}" class="btn btn-primary"><< Назад</a>
        </div>
    </div>
    <div class="col">
        <div class="col-lg-4">
            <form method="post">
                {% csrf_token %}
                Уверены, что хотите удалить запись "{{ object }}"?
                <input type="submit" class="btn btn-outline-warning" value="Уверен"><br><br>
            </form>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.col -->
{% endblock %}