{% extends "mailing/base.html" %}

{% block content %}
    <h2>Перечень клиентов сервиса</h2>
    {#    <div style="position: absolute; right: 9ch">#}
    {#        <a href="{% url 'mailing:client_create' %}" class="btn btn-primary">Добавить запись</a>#}
    {#    </div>#}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Электронная почта</th>
            <th scope="col">Полное имя</th>
            <th scope="col">Комментарии</th>
            <th scope="col">Кем создан</th>
            <th scope="col"><a href="{% url 'mailing:client_create' %}" class="btn btn-primary">Новый клиент</a></th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ object.pk }}</td>
                <td>{{ object.email_contact }}</td>
                <td>{{ object.full_name }}</td>
                <td>{{ object.comment|slice:":30" }}
                    {% if object.comment|length > 30 %}...
                    {% endif %}
                </td>
                <td>{{ object.author }}</td>
                <td><a class="btn btn-secondary" href="{% url 'mailing:client_detail' object.pk %}"
                       role="button">Подробнее&raquo;</a></td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endblock %}

