{% extends "mailing/base.html" %}

{% block content %}
    <h2>Перечень рассылок сервиса</h2>
    {#    <div style="position: absolute; right: 9ch">#}
    {#        <a href="{% url 'mailing:client_create' %}" class="btn btn-primary">Добавить запись</a>#}
    {#    </div>#}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Начало рассылки</th>
            <th scope="col">Конец рассылки</th>
            <th scope="col">Периодичность</th>
            <th scope="col">Статус</th>
            <th scope="col">Сообщение</th>
            <th scope="col"><a href="{% url 'mailing:mail-setting-create' %}" class="btn btn-primary">Новая рассылка</a></th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <th>{{ object.id }}</th>
                <td>{{ object.mailing_start }}</td>
                <td>{{ object.mailing_stop }}</td>
                <td>{{ object.mailing_period }}</td>
                <td>{{ object.status }}
                <td>{{ object.message }}
                <td><a class="btn btn-secondary" href="{% url 'mailing:mail-setting-detail' object.pk %}" role="button">Подробнее
                    &raquo;</a></td>
                {#            {% url 'mailing:client_detail' object.pk %}#}
            </tr>
        {% endfor %}
        </tbody>

    </table>



{% endblock %}

<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Custom jumbotron</h1>
        <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in
            previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your
            liking.</p>
        <button class="btn btn-primary btn-lg" type="button">Example button</button>
    </div>
</div>