{% extends "mailing/base.html" %}

{% block content %}
    <h2>Информация по рассылке</h2>
    <div class="container-fluid py-5">
        <h5 class="display-8 fw-bold">Сообщение: {{ object.message }}</h5>
        <p class="col-md-8 fs-5">Начало рассылки: {{ object.mailing_start }}</p>
        <p class="col-md-8 fs-5">Конец рассылки: {{ object.mailing_stop }}</p>
        <p class="col-md-8 fs-5">Периодичность: {{ object.mailing_period }}</p>
        <p class="col-md-8 fs-5">Дата отправки рассылки: {{ object.launched_date }}</p>
        <p class="col-md-8 fs-5">Статус рассылки: {{ object.status }}</p>
        <p class="col-md-8 fs-5">Клиент: {{ object.client }}</p>
        <p class="col-md-8 fs-5">Сообщение: {{ object.message }}</p>
        <p class="col-md-8 fs-5">Активация рассылки: {{ object.is_active }}</p>
        <div class="card-footer">
            <a href="{% url 'mailing:mail-setting-detail' object.pk %}" class="btn btn-primary"><< Назад</a>
            <a href="{% url 'mailing:mail-setting-delete' object.pk %}" class="btn btn-danger">Удалить рассылку</a>
            {#            {% url 'mailing:client_delete' object.pk %}#}
        </div>
    </div>
    <div class="col">
        <div class="col-lg-4">
            <form method="post">
                {% csrf_token %}
                Уверены, что хотите удалить запись "{{ object.message }}"?
                <input type="submit" class="btn btn-outline-warning" value="Уверен"><br><br>
            </form>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.col -->
{% endblock %}