{% extends "mailing/base.html" %}

{% block content %}
    <br>
    <div class="row">
    <div class="col-md-6">
        <h2>Статья подробно </h2>
    </div>
    <div class="col-md-2 col-md-offset-2">
        <a href="{% url 'blog:blog-view' %}" class="btn btn-primary"><< Назад</a>
    </div>
</div>
    <hr>
    <div class="container-fluid py-5">
        <h5 class="display-6 fw-bold">{{ object.email_contact }}</h5>
        <p class="col-md-8 fs-5"><u>Заголовок:</u> {{ object.header }}</p>
        <p class="col-md-8 fs-5"><u>Содержимое статьи:</u> {{ object.content }}</p>
        <p class="col-md-8 fs-5"><u>Дата публикации:</u> {{ object.published_date }}</p>
        <p class="col-md-8 fs-5"><u>Количество просмотров:</u> {{ object.views_number }}</p>
        <div class="card-footer">

        </div>
    </div>
{% endblock %}


