{% extends "mailing/base.html" %}
{% load static %}

{% block content %}
    <h2>Блоги сервиса рассылок</h2>
    {#    <div style="position: absolute; right: 9ch">#}
    {#        <a href="{% url 'mailing:client_create' %}" class="btn btn-primary">Добавить запись</a>#}
    {#    </div>#}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Изображение</th>
            <th scope="col">Заголовок</th>
            <th scope="col">Содержимое статьи</th>
            <th scope="col">Дата публикации</th>
            <th scope="col">Количество просмотров</th>
            {#            <th scope="col"><a href="{% url 'mailing:client_create' %}" class="btn btn-primary">Новый клиент</a></th>#}
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td><img src="/media/{{object.image}}" width="100" height="100" alt=""/></td>
                <td>{{ object.header }}</td>
                {% if object.content|length > 300 %}
                    <td>{{ object.content|slice:":300" }} ...</td>
                {% else %}
                    <td>{{ object.content }}</td>
                {% endif %}
                <td>{{ object.published_date }}</td>
                <td>{{ object.views_number }}</td>
                <td><a class="btn btn-secondary" href="{% url 'blog:blog-detail-view' object.pk %}" role="button">Подробнее&raquo;</a></td>
            </tr>
        {% endfor %}
        </tbody>

    </table>



{% endblock %}