{% extends "mailing/base.html" %}

{% block content %}
    <h2>Перечень пользователей сервиса</h2>
    {#    <div style="position: absolute; right: 9ch">#}
    {#        <a href="{% url 'mailing:client_create' %}" class="btn btn-primary">Добавить запись</a>#}
    {#    </div>#}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Электронная почта</th>
            <th scope="col">Признак активности</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            {% if not object.is_superuser and not object.is_staff %}
                <tr>
                    <td>{{ object.pk }}</td>
                    <td>{{ object.email }}</td>
                    <td>{{ object.is_active }}</td>

                    {% if object.is_active %}
                        <td><a class="btn btn-secondary" href="{% url 'users:toggle-activity-user'  object.pk %}"
                               role="button">Деактивировать</a>
                        </td>
                    {% else %}
                        <td><a class="btn btn-secondary" href="{% url 'users:toggle-activity-user'  object.pk %}"
                               role="button">Активировать</a>
                        </td>
                    {% endif %}

                </tr>
            {% endif %}
        {% endfor %}

        </tbody>

    </table>



{% endblock %}

email = models.EmailField(unique=True, verbose_name='почта')
is_active = models.BooleanField(default=True, verbose_name='активный статус')

{% url 'mailing:mail-setting-detail' object.pk %}