{% extends "mailing/base.html" %}

{% block content %}
    <h2>Перечень пользователей сервиса</h2>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Электронная почта</th>
            <th scope="col">Признак активности</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ object.pk }}</td>
                <td>{{ object.email }}</td>
                <td>{{ object.is_active }}</td>
                {% if not object.is_staff %}
                    {% if object.is_active %}
                        <td><a class="btn btn-secondary" href="{% url 'users:toggle-activity-user'  object.pk %}"
                               role="button">Деактивировать</a>
                        </td>
                    {% else %}
                        <td><a class="btn btn-secondary" href="{% url 'users:toggle-activity-user'  object.pk %}"
                               role="button">Активировать</a>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
