<nav class="navbar" style="background-color: #e3f2fd;">
    <!-- Navbar content -->
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'mailing:main' %}">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Блоги</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Регистрация</a>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:profile' %}">Профиль</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logout' %}">Выход</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:login' %}">Вход</a>
        </li>
        {% endif %}

        <li class="nav-item">
            <a class="nav-link" href="{% url 'mailing:clients' %}">Клиенты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'mailing:mail-setting-list' %}">Список рассылок</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'mailing:attempt-list' %}">Отчет о рассылках</a>
        </li>
        <p>Вы вошли как: <i>---</i></p>
    </ul>
</nav>