<nav class="navbar" style="background-color: #e3f2fd;">
    <!-- Navbar content -->
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'mailing:main' %}">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Блоги</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Вход</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'mailing:clients' %}">Все клиенты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Рассылки</a>
        </li>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Резерв</a>
        </li>
    </ul>
</nav>