<nav class="navbar" style="background-color: #e3f2fd;">
    <!-- Navbar content -->
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'mailing:main' %}">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:blog-view' %}">Блоги</a>
        </li>
        {% if not user.is_authenticated %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register' %}">Регистрация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:login' %}">Вход</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mailing:clients' %}">Клиенты сервиса</a>
            </li>
            {% if user.is_superuser or user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:users-list' %}">Пользователи сервиса</a>
            </li>
                {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mailing:mail-setting-list' %}">Список рассылок</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mailing:attempt-list' %}">Отчет о рассылках</a>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:profile' %}">Мой профиль</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout' %}">Выход</a>
            </li>
            <p>Вы вошли как: <i>{{ user.email }}</i></p>
        {% endif %}

        {% if user.is_superuser %}
            <p style="color:#FF0000"><strong>Superuser</strong></p>
{#        {% else %}#}
{#            {% if user.is_staff %}#}
{#                <p style="color:#FF0000"><strong>Staff</strong></p>#}
{#            {% endif %}#}
        {% endif %}
    </ul>
</nav>
